<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>{% if category %}Products in {{ category.name }}{% else %}All Products{% endif %}</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a> - {{ product.price }}$
            </li>
        {% endfor %}
    </ul>
</body>
</html>
